 #monsterPane {
     -fx-background-image: url(/graphicprop/images/GreyLockBG.jpg);
     -fx-background-size: cover;
 }

 #magicPane {
     -fx-background-image: url(/graphicprop/images/brownBack.jpg);
     -fx-background-size: cover;
 }

 .text-field {
     -fx-text-fill: red;
     -fx-background-color: black;
 }

 .choice-box {
     -fx-text-fill: red;
     -fx-background-color: black;
 }

 .button {
     -fx-background-color: black;
     -fx-border-radius: 5;
     -fx-background-radius: 5;
     -fx-font-size: 13;
     -fx-text-fill: red;
 }

 .button:hover {
     -fx-background-color: black;
     -fx-border-color: red;
     -fx-text-fill: red;
 }

 .label {
     -fx-text-fill: red;
 }