.rightPane {
    -fx-background-image: url("../images/blackBG.jpg");
    -fx-background-size: cover;
}

.leftPane {
    -fx-background-image: url("../images/redBG.jpg");
    -fx-background-size: cover;
}

.button {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: linear-gradient(#AC110B 50%, #7a0e08 50%);;
    -fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: #7a0e08;
    -fx-text-fill: gray;
}

.button:hover {
    -fx-border-color: white;
}

.label {
    -fx-text-fill: white;
}

#price {
    -fx-font-size: 22;
}