.root {
    -fx-background-image: url('/graphicprop/images/brickBGpng.png');
    -fx-background-size: cover;
}

.hboxCollection {
    -fx-background-color: white;
}

.mainDeckPane {
    -fx-background-image: url('/graphicprop/images/dirtyBoardBG.jpg');
    -fx-background-size: cover;
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 100 100 100 100;
}

.sideDeckPane {
    -fx-background-image: url('/graphicprop/images/dirtyBoardBG.jpg');
    -fx-background-size: cover;
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 100 100 100 100;
}

.titleOfPage {
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 100 100 100 100;
    -fx-background-color: #5B7C71;
}

.button {
    -fx-background-radius: 1000;
    -fx-background-color: linear-gradient(#729c8d 50%, #3a5048 50%);
    -fx-border-radius: 1000;
    -fx-text-fill: white;
    -fx-cursor: hand;
}