.pane {
    -fx-background-image: url('/graphicprop/images/EWITy1SWAAAJCKF.jpg');
    -fx-background-size: cover;
}

.hbox {
    -fx-background-color: #301934;
}

.selected {
    -fx-background-color: #200142;
}

