#MainPane {
    -fx-background-image: url(../images/woodTexture.jpg);
    -fx-background-size: cover;
}

#DeckOneHolder {
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-border-radius: 12;
}

#DeckTwoHolder {
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-border-radius: 12;
}

#DeckThreeHolder {
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-border-radius: 12;
}

#DeckFourHolder {
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-border-radius: 12;
}

#DescriptionArea {
    -fx-background-image: url(../images/redBG.jpg);
    -fx-background-size: cover;
}
