.root {
    -fx-background-image: url(../images/mainPagePic.jpg);
    -fx-background-size: cover;
}

.button {
    -fx-background-color: linear-gradient(#E0AA2C 15%, #C2360A 50%, #801F14 75%, #200302 100%);
    -fx-background-insets: 0, 1, 4, 5;
    -fx-background-radius: 9, 8, 5, 4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: linear-gradient(#E0AA2C 30%, #C2360A 60%, #801F14 75%, #200302 100%);
    -fx-background-insets: 0, 1, 4, 5;
    -fx-background-radius: 9, 8, 5, 4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.setUpQuestionLabel {
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(#E0AA2C 50%, #cf7b16 100%);
    -fx-border-color: brown;
    -fx-border-radius: 10;

}

#gameSetUpPopUp {
    -fx-border-color: brown;
    -fx-border-width: 3;
    -fx-background-image: url(../images/yellowBrownBg.jpg);
}

.choice-box {
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-background-color: #E0AA2C;
}

.text-field {
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(#E0AA2C 50%, #cf7b16 100%);
    -fx-border-color: brown;
    -fx-border-radius: 10;
}

#opponentFinder {
    -fx-background-radius: 20 0 0 0;
    -fx-background-color: linear-gradient(#E0AA2C 50%, #865312 100%);
    -fx-border-radius: 20 0 0 0;
    -fx-border-color: brown;

}

.label {
    -fx-text-fill: white;
}

.pupUpButton {
    -fx-padding: 0 0 0 0;
    -fx-font-size: 11;
    -fx-background-color: #E0AA2C;
    -fx-text-fill: white;
}

.pupUpButton:hover {
    -fx-background-color: linear-gradient(#E0AA2C 30%, #624405 100%);
    -fx-padding: 0 0 0 0;
    -fx-font-size: 11;
    -fx-text-fill: white;
}

#Topic{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: transparent;

}