.selectedCardContainer {
    -fx-border-color: black;
}

.chatBoxContainer {
    -fx-border-color: black;
}

.yourInfoContainer {
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-background-image: url(../images/youUserInfoBGjpeg.jpeg);
    -fx-background-size: cover;
}

.label {
    -fx-text-fill: white;
}

.opponentInfoContainer {
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-background-image: url(../images/opponentUserInfoBgjpeg.jpeg);
    -fx-background-size: cover;
}


.selectedCardPane {
    -fx-border-color: black;
}

.field {
    -fx-background-image: url(../images/Field/fie_normal.png);
    -fx-background-size: 511 700;
}


#phaseName {
    -fx-text-fill: red;
    -fx-font-size: 15;
}

.phaseName {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-image: url(../images/greenPhaseBg.png);
    -fx-background-size: cover;
}