.selectedCardContainer {
    -fx-border-color: black;
}

.chatBoxContainer {
    -fx-border-color: black;
}

.yourInfoContainer {
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-background-image: url(../images/youUserInfoBGjpeg.jpeg);
    -fx-background-size: cover;
}

.label {
    -fx-text-fill: white;
}

.opponentInfoContainer {
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-background-image: url(../images/opponentUserInfoBgjpeg.jpeg);
    -fx-background-size: cover;
}


.selectedCardPane {

}

.field {
    -fx-background-image: url(../images/Field/fie_normal.png);
    -fx-background-size: 527 700;
}


#phaseName {
    -fx-text-fill: red;
    -fx-font-size: 15;
}

.phaseName {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-image: url(../images/greenPhaseBg.png);
    -fx-background-size: cover;
}

.cardDetailArea {
    -fx-background-image: url(../images/youUserInfoBGjpeg.jpeg);
    -fx-background-size: cover;
}

.selectedCardPane {
    -fx-background-image: url(../images/grayBlue.jpg);
    -fx-border-color: black;
    -fx-border-width: 2;
}

.buttonOfDescription {
    -fx-text-fill: #4b779d;
    -fx-background-color: black;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-border-color: #4b779d;
}

.gameButton {
    -fx-border-color: black;
    -fx-background-color: yellow;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-text-fill: black;
}

.gameButton :hover {
    -fx-background-color: #606019;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-text-fill: black;
}

.buttonOfDescription:hover {
    -fx-text-fill: black;
    -fx-background-color: #4b779d;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-border-color: black;
}

