.selectedCardContainer {
    -fx-border-color: black;
}

.chatBoxContainer {
    -fx-border-color: black;
}

.yourInfoContainer {
    -fx-border-color: black;
}

.opponentInfoContainer {
    -fx-border-color: black;
}

.selectedCardPane {
    -fx-border-color: black;
}

.field {
    -fx-background-image: url(../images/Field/fie_normal.png);
    -fx-background-size: 511 700;
}

.phaseVBox {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-cursor: hand;
}