.text-field {
    -fx-background-color: #f8a552;
    -fx-background-radius: 20;
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-border-color: #8c530d;
    -fx-prompt-text-fill: #373636;
}


#TopicProfile {
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #f8a552;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-style: italic;
}

.label {
    -fx-background-color: #f8a552;
    -fx-background-radius: 20;
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-border-color: #8c530d;
}

.button:hover {
    -fx-background-color: linear-gradient(#f8a552 30%, #8f5927 100%);
    -fx-font-size: 16;
}

.button {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 13;
    -fx-background-color: #f8a552;
    -fx-border-color: black;
    -fx-text-fill: black;
}

#ProfileBox {
    -fx-background-color: black;
    -fx-border-color: #090967;
}

#result {
    -fx-font-size: 14;
    -fx-text-fill: #ff0000;
}

#pane {
    -fx-background-image: url(../images/mainPagePic.jpg);
    -fx-background-size: cover;
}

#userInfo {
    -fx-background-image: url(../images/brickwall.jpg);;
}

.error {
    -fx-text-fill: red;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}