#mainPane {
    -fx-background-image: url(../images/RegisterWallpaper.png);
    -fx-background-size: cover;
}

#registerBox {
    -fx-background-color: black;
    -fx-border-color: #1c1cb1;
}

.text-field {
    -fx-background-color: #1c1cb1;
    -fx-text-fill: black;
}

#Topic {
    -fx-background-radius: 0 20 0 0;
    -fx-background-color: #1c1cb1;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-style: italic;
}

.label {
    -fx-font-size: 14;
    -fx-text-fill: #1c1cb1;
}

.button {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 13;
    -fx-background-color: black;
    -fx-border-color: #1c1cb1;
    -fx-text-fill: #1c1cb1;
}

.button:hover{
    -fx-background-color: #1c1cb1;
    -fx-border-color: black;
    -fx-text-fill: black;
}