.root {
    -fx-background-image: url(../images/yellowBrownBg.jpg);
    -fx-background-size: cover;
}

.playersPane {
    -fx-background-image: url(../images/dirtyBoardBG.jpg);
    -fx-background-size: cover;
    -fx-background-radius: 0 30 0 0;
}