.root {
    -fx-background-image: url('/graphicprop/images/WelcomeWallpaper.jpg');
    -fx-background-size: cover;
}

#Menu {
    -fx-background-color: #C67F28;
    -fx-background-image: url('/graphicprop/images/yellowBackGround.jpg');
    -fx-background-size: 224 394 ;
    -fx-background-radius: 13;
}

#MenuCover{
    -fx-background-image: url('/graphicprop/images/blackBackGround.jpg');
    -fx-background-size: 333 502;
}

.button {
    -fx-background-color: black;
    -fx-border-color: #C67F28;
    -fx-text-fill: #C67F28;

}

.button:hover {
    -fx-background-color: #C67F28;
    -fx-border-color: black;
    -fx-text-fill: black;
}